*{
    margin:0;
    padding:0;
}

body{
    font-family:Verdana, sans-serif;
    font-size:12pt;
    color:grey;
    background-color:white;
    background-image:none;
}

header h1{
    background-color:white;
    background-image:none;
    color:grey;
    height:50px;
    padding-top:100px;
}

header{
    background-color:white;
    background-image:none;
}

nav{
    background-color:white;
    background-image:none;
}

footer{
    background-color:white;
    background-image:none;
    height:25px;
    padding-top:25px;
    font-size:10pt;

    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul{
    background-color:pink;
    background-image:none;
    list-style-type:none;
    list-style-image:none;
    list-style-position:outside;
}

nav li{
    float:left;

    height:20px;
    margin-right:5px;
    padding:5px;
    background-color:orange;
    background-image:none;
}

nav li:hover{
    background-color:#d80087;
    background-image:none;
}

nav a{

    text-decoration:none;
    background-color:none;
    background-image:none;
}


nav a:link{
    color:grey;
}

nav a:visited{
    color:white;
}

nav a:hover{
    color:yellow;
    background-color:#d80087;
    background-image:none;
}

nav a:active{
    color:pink;
}